.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notePin {
  margin-top: 0.6rem;
  margin-right: 0.5rem;
  border : none ;
  background : var(--primary-color);
  color: black ;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 50% ;
  opacity : 0.9;

}

.notePin:hover  {
  opacity : 1;
  border: 0px solid #000 ; 
}
