.textArea,
.noteTitle,
.noteFooter {
  background: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid transparent !important;
  border-radius: 0.5rem !important;
  height: 3rem !important;
  width: 100% !important;
  padding-top: 0.8rem !important;
  overflow: hidden !important;
  resize: none !important;
  outline: none !important;
  /* min-height: 15rem !important; */
}


.noteTitle {
  font-size: 1.2rem !important;
}

.noteFooter {
  display: inline;
  height: 3.5rem !important;
}

.textArea:focus,
.noteTitle:focus {
  box-shadow: none !important ;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  font-weight: 500 !important;
  opacity: 1 !important;
}
