.container, .signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  margin-top: 4rem;
  background: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 1px;
  max-width: 70% !important;
}

.signupContainer {
  margin-top : 1rem
}

.row {
  width: 40%;
}

.heading {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.2rem;
}

.button {
  width: 100%;
  margin: 0.5rem 0;
}

.label {
  font-weight: 500;
}

.signup {
  text-align: center;
}

.signupLink {
  color: #0ff;
  font-weight: bold;
}

.signupLink:hover {
  color: #000 !important;
}

.button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
